.header {
  background-image: url("/images/mickey_background.png");
  background-color: #6dc6cc;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 200px;
  display: flow-root;

  @media (min-width: 768px) {
    min-height: 400px;
    background-position: center;
    align-items: flex-end;
    display: block;
    justify-content: center;
  }

  .title {
    font-family: "Staatliches", sans-serif;
    font-size: 50px;
    color: aliceblue;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 40px;
    height: 100%;
    min-height: 200px;
    display: flow-root;

    @media (min-width: 768px) {
      min-height: 400px;
      background-position: center;
    }
  }
}

//---------------------------

.form {
  background-color: rgba(240, 248, 255, 0.369);
  padding: 40px;
  margin-top: 150px;

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

.form__btn {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: regular;
  color: white;
  border: 0;
  align-items: center;
  align-content: center;
  background-color: #ffb9b9;
  box-shadow: 2px 0px 2px 0px rgba(201, 201, 201, 0.76);
  border-radius: 5px;
}

.form__input-text {
  width: 180px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.909);
  border: 0;
  border-radius: 5px;
  margin: 4px;

  @media (min-width: 768px) {
    width: 340px;
  }
}

input {
  padding: 5px 15px;
  background-color: rgb(234, 234, 234);
  border: 0;
  border-radius: 5px;
  margin: 4px;
}
