body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.cards_list {
  display: flex;
  list-style-type: none;
  border: solid 1px white;
  border-radius: 30px;
  box-shadow: dimgray 10;
  margin: 20px;
  padding: 10px;
  align-items: center;

  .card_item {
    border-radius: 5px;
    box-shadow: dimgray 10;
    margin-top: 20px;
    padding: 10px;
    margin: 20px;

    .card_img {
      width: 300px;
      height: 200px;
      align-content: center;
      align-items: center;
    }

    .card_title {
      font-size: 12px;
      text-decoration: underline;
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
